* {
	font-family: Arial, sans-serif;
}

body {
	background: silver;
}

h1 {
	font-family: Verdana, sans;
}
.left-col {
	float: left;
	width: 30%;
	
}
.right-col {
	float:right;
	width:65%;
	
}
footer {
	clear:both;
	text-align: center;
	background-color: grey;
	display:flex;
	justify-content: center;
	align-items: center;
}

.head {
width: 100%; 
height: 200px;
text-align: center;
background: url(../img/fon.jpg); 
background-size: cover; 
display:flex;
justify-content: center;
align-items: center;
}

